
.car_title{
  padding-left: 20px ;
  color: white;
  width: 100%;
  background-color: $color-principal;
  box-shadow: 4px 4px 6px #bbb;

}

.container{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .container_car{
    
    .title{ 
      background-color: $color-principal;
      padding: 10px;
      color: white;
      height: 100%;
    }
    .car{
      display: grid;
      grid-template-columns: 100px 100px 100px 100px 100px; 
      width: 100%;
      border-bottom: 0.1px solid #999;
      .car-img{
       
        img{
          width: 90px;
          height: 100%;
        }
      }
      .item{
        display: flex;
        justify-content: center;
        align-items: center;
      }
        input{
          width: 50%;
        }
        input:focus{
          outline: none;
        }
        p{
          padding: 0 10px;
          button{
            width: 20px;
            height: 20px;
            background-color: #ccc;
          }
      }
      .eliminar{
        button{
          background-color: red;
          border: none;
          color: white;
          padding: 5px;
          border-radius: 5px;
        }
        button:hover{
          color: black;
        }
      }
    }
  }

  .estado-compra{
    display: flex;
    margin-bottom: 10%;
    flex-direction: column;
    height: 100%;
    width: 100%;
    button{
      width: 100%;
      margin-top: 20px;
      border: none;
      padding: 10px;
      border-radius: 10px;
    }
    button:focus{
    outline: none;
    }
    button:nth-child(1){
      background: $color-principal;
      color: white;
    }
    button:nth-child(2){
      border: 1px solid $color-principal;
      color: $color-principal;
      background: white;
    }
    button:nth-child(3){
      border: 1px solid $color-principal;
      color: $color-principal;
      background: white;
    }
 
    
  }
}

@media screen and (min-width: 992px){
  .container{
    flex-direction: row;

    .container_car{

      .car{
        .car-data{
          font-size: 16px;
          p{
            padding: 0 10px;
          }
        }
      }
    }
  }
  .estado-compra{
    margin-left: 10%;
   
  }
}
