
.car_title{
  padding-left: 20px ;
  color: white;
  width: 100%;
  background-color: rgba(100, 190, 258, 0.9);
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  .container_car{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    .car{
      border: 1px solid #ccc;
      display: flex;
      width: 100%;
      .car-img{
       
        img{
          width: 100px;
          height: 100%;
        }
      }
  
      .car-data{
        font-size: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;
        padding: 20px;
        .mas{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        p{
          padding: 0 10px;
          button{
            width: 20px;
            height: 20px;
            background-color: #ccc;
          }
        }
      }
    }
  }

  .estado-compra{
    display: flex;
    margin-bottom: 10%;
    flex-direction: column;
    height: 100%;
    width: 100%;
    button{
      width: 100%;
      margin-top: 20px;
      border: none;
      padding: 10px;
      border-radius: 10px;
    }
    button:focus{
    outline: none;
    }
    button:nth-child(1){
      background: rgba(100, 190, 258, 0.9);
      color: white;
    }
    button:nth-child(2){
      border: 1px solid rgba(100, 190, 258, 0.9);
      color: rgba(100, 190, 258, 0.9);
      background: white;
    }
    .form{
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      form{
        display: flex;
        justify-content: center;
        width: 100%;
        .button-img{
          width: 40%;
        }
      }
    }
    
  }
}

@media screen and (min-width: 992px){
  .container{
    flex-direction: row;

    .container_car{

      .car{
        .car-data{
          font-size: 16px;
          p{
            padding: 0 10px;
          }
        }
      }
    }
  }
  .estado-compra{
    margin-left: 10%;
   
  }
}
