.component_facturar{
  .facturacion_regresar{
    text-decoration: none;
    background-color: $color-principal;
    color: white;
    padding: 10px;
    width: 300px;
    position: relative;
    top: 20px ;
    left: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px  rgb(80, 170, 238);
  }
  .facturacion_regresar:hover{
    box-shadow:none;
    font-size: 15px;

  }
  .facturar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container_form{
      background-color: rebeccapurple;
      margin: 10% 5%;
      height: 100%;
      width: 80%;
      border-radius: 10px;
      display: flex;
      background: $color-principal;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      color: white;
      form{
        width: 80%;
        display: flex;
        flex-direction: column;

        input{
          margin:  7px 0;
          border: none;
          border-radius: 5px;
          padding: 5px;
          color: #999;
        }
        input:focus{
          outline: none;
        }
      }
    }
    .facturar_pago{
      width: 90%;
      height: 200px;
      
        form{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          .button-img{
            width: 50%;
          }
        }
      
    }
  }
}

@media screen and (min-width: 992px){
  .component_facturar{
    
    .facturar{
      flex-direction: row;
      .container_form{
        margin: 0% 5%; 
        width: 30%;
      }
      .facturar_pago{
        width: 30%;
          form{
          
          }
        
      }
    }
  }
}